body{
  background-color: black;
  text-align: center;
}

h1, h2, p, a {
  font-family: Verdana;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

a {
  font-size: 16px;
  color: aquamarine;
}

p {
  color: 21px;
  color: gray;
}

.footer {
  text-align: right;
}
